* {
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
}

main {
    background-image: url(img/Cloud.jpg);
    background-repeat: no-repeat;
    display: flex;
}

.cartoon-y-2 {
    position: absolute;
    width: 88px;
    height: 85px;
    transform: rotate(-35deg);
    fill: #FFFFFF;
    top: 23px;
    left: 29px;
}

.cartoon-y-1 {
    position: absolute;
    width: 127px;
    height: 127px;
    top: 516px;
    left: 863px;
    z-index: 2;
}

.pink-cartoon {
    position: absolute;
    width: 214px;
    height: 208px;
    transform: rotate(-37deg);
    top: 558px;
    left: 862px;
    z-index: 1;
}

.s-us {
    margin-left: 150px;
    padding-top: 179px;
    margin-bottom: 174px;
}

.s-us h2 {
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    color: #3E3E3E;
}

.message {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2D2D2D;
    padding-left: 46px;
    width: 557px;
    height: 189px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding-top: 31px;
}

textarea {
    resize: none;
}

input {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #2D2D2D;
    width: 557px;
    height: 93px;
    padding-left: 46px;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    margin-bottom: 8px;
}

.button {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 28px 52px;
    border: none;
    border-radius: 500px;
    background-color: #FAD34F;
    margin-top: 23px;
    cursor: pointer;
}

.s-map {
    position: relative;
    margin-left: auto;
}

.map {
    position: relative;
    background-image: url(img/map.jpg);
    background-repeat: no-repeat;
    margin-right: -350px;
    margin-top: -52px;
    width: 976px;
    height: 976px;
    border-radius: 100%;

}

footer {
    background-color: #FAFAFA;
    border: 1px solid #D8D8D8;
    width: auto;
}

.s-svg {
    margin-left: 343px;
    margin-bottom: 104px;
    margin-top: 79px;
}

svg {
    width: 12px;
    height: 14px;
    margin-right: 25px;
}

.pink-cartoon-f {
    position: absolute;
    width: 214px;
    height: 208px;
    left: 15px;
}

.cartoon-y-2-f {
    position: absolute;
    width: 88px;
    height: 85px;
    top: 1023px;
    left: 1436px;
}

.green-cartoon {
    position: absolute;
    width: 78px;
    height: 97px;
    top: 972px;
    left: 1334px;
}

