.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-green-cartoon {
  width: 0.814453125em;
}

.icon-y_cartoon2 {
  width: 0.6884765625em;
}

.icon-pink_cartoon {
  width: 1.0029296875em;
}

.icon-in {
  width: 0.9287109375em;
}

.icon-twiter {
  width: 1.2138671875em;
}

.icon-facebook {
  width: 0.529296875em;
}

.icon-pinterest {
  width: 0.8125em;
}
